

:root {
    --Red: #e85a4f;
    --Pink: #e98074;
    --Gray: #8e8d8a;
    --Sand: #d8c3a5;
    --Lgray: #eae7dc;
    font-size: 1.05vw;

  }
body {
    overflow: hidden;
    width: 100%;
    font-size: 1.05vw;
    height: 100%;
}
#container{
    margin: 0;
    padding:0;
    height: 100%;
    width: 100%;
    color: var(--Red);
    text-align: center;
    /*background-color: var(--Sand);*/
    background-image: url(./Images/reddisplay.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

@media (min-width: 992px) {
    #container{background-color: blue;}
    html{
        font-size: 1.05vw;
      }

    
}
*/
*:focus {
    outline: 0 !important;
}

input{
    border: 1px solid var(--Red);
}

td{
    font-size: 20px;
    border: 1px solid var(--Red);
    padding: 10px;
}
thead{
    font-weight: 700;
}
nav a{
    color: var(--Red);
}

#topImage{

    width: 100%;
    padding: 30px;
    /*height: 55vh;*/

    display: inline-flex;
    flex-direction:row;
    position: relative;
}

#navbar{
    
    position: relative; 
    display: inline-flex;
    flex-direction:row;
    margin-top: 2vw;
    font-weight: bold;
    width: 100%;
    border-radius: 8px;
    background-color: rgb(1,1,1,0.5);
    border: 1px solid var(--Red);
    

}
#navSearchBtn{
    color: var(--Red);
    border: 2px solid var(--Red);
}
#navSearchBtn:hover{
    background-color: var(--Red);
    color: var(--Sand);
}

#navSearch{
    color: var(--Red);
    border: 3px solid var(--Red);
}

#hjem {
    color: var(--Sand);
}
#hjem:hover{
    color: var(--Pink);
}

#topImage h2{
    
    color: var(--Sand);
}

#SearchNavn, #SearchPost{
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 30%;
    display: inline;
}
#SearchBtn{
    color: var(--Sand);
    border: 1px solid var(--Sand);
}
#SearchBtn:hover{
    background-color: var(--Sand);
    color: var(--Red);
}

#searchDiv{
    padding: 1vw;
    background-color: rgb(1,1,1,0.5);
    border: 2px solid var(--Red);
    border-radius: 16px;
}

#infoDiv{
    color: var(--Sand);
    padding: 1vw;
    background-color: rgb(232,90,79,0.7);
    border: 2px solid var(--Sand);
    border-radius: 16px;
    
}






#boxStack{
    padding:0px;
    /*margin: 0vw;*/
    display: inline-flex;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
}


#bedrift{
    position: inline-flex;
    transition: top ease 2s;
    background-color: var(--Red);
	color: var(--Lgray);
    background-color: rgb(232,90,79,0.9);
    border: 2px solid var(--Sand);
    border-radius: 8px;
    width: auto;
    height: 15vw;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 0.6vw;
    margin-right: 0.6vw;
    min-width: 15vw;
}
#bedrift:hover {
    top: -10px;
}
